# Dependencies
node_modules
.pnp
.pnp.js
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
/coverage
playwright-report
test-results
/test-results

# Turbo
.turbo

# Vercel
.vercel

# next.js
/.next/
/out/

# Build Outputs
.next/
out/
build
dist
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# env files (can opt-in for committing if needed)
.env
.env*.local
.env.me
